body {
    background-color: #f5f5f5
 
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 5%; 
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.taskCompleted {
    background: #c2c2c2;
  }

#topSection input{
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    outline: none; 
}

#topSection select {
    font-size: 12.8px;
    /* height: 27px; */
    padding: 6px;   
    margin-top: 1px; 
    border:1px solid #BEBEBE;
    background-color: white;
    color: grey;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
 }

 #filters input{
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    outline: none; 
}

#filters select {
    font-size: 12.8px;
    /* height: 27px; */
    padding: 6px;   
    margin-top: 1px; 
    border:1px solid #BEBEBE;
    background-color: white;
    color: grey;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
 }
 