body {
    background-color: #f5f5f5; 
    font-family: Helvetica; 
}
h1{
    margin-left: 5%; 
    background-color: 
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 5%; 
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.taskCompleted {
    background: #c2c2c2;
  }

  #topSection {
    margin-left: 5%; 
    margin-top: 15px;
    margin-bottom: 15px;
  }

#topSection input{
    border:1px solid #BEBEBE;
    padding: 7px;
    outline: none; 
    margin: 2px; 
}





/* #topSection select {
    font-size: 12.8px;
    height: 27px;
    padding: 6px;   
    margin-top: 1px; 
    border:1px solid #BEBEBE;
    background-color: white;
    color: grey;
    color: #777777
 } */

